body{
	font-family: Georgia;
}
th,td{
	border: 1px solid grey;
}
th{
	cursor: pointer;;
	color: white;
	background: darkblue;
	position: left;
}
tr{
	border: 1px solid grey;
	font-family: Verdana;
}
tbody tr:nth-of-type(2) {
    background-color: #DBDBDB;
}
table{
	border: 1px solid grey;
	text-align: left;
    border-collapse: collapse;
	width: auto;
    border-spacing: 2px;
}
/* .alternate{
	background:#DBDBDB
} */
#todo{
	border: 1px solid grey;
	width: 500px;
	height: 100px;
}
#staff{
	border: 1px solid grey;
	width: 450px;
	height: 100px;
}
.ascend{
	background-color: #B9D3EE;
    background-image: url("ascend.png");
    background-position: right;
    background-repeat: no-repeat;
}
.descend{
	background-color: #B9D3EE;
    background-image: url("descend.png");
    background-position: right;
    background-repeat: no-repeat;
}